.chat-center-2-itemMessage{
    width: 80%;
    display: flex;
    margin-top: 10px;
}
.chat-center-2-itemMessage-img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.chat-center-2-itemMessage-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.chat-center-2-itemMessage-text {
    display: flex;
    flex-direction: column;
}
.chat-center-2-itemMessage-text p{
    /* width: 100%; */
    max-inline-size: 500px;
    overflow-wrap: break-word;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
    white-space: pre-line;
}
.chat-center-2-itemMessage-text span{
    font-size:12px;
}
.chat-center-2-itemMessage-infoMessage{
    width: 50px;
    display: none;
    color:rgb(151, 150, 150);
}
.chat-center-2-itemMessage:hover .chat-center-2-itemMessage-infoMessage{
    display: flex;
}
.chat-center-2-itemMessage-infoMessage i{
    padding: 7px;
    cursor: pointer;
    color:rgb(194, 193, 193);
}