@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
.post-detail{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.postdetail{
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 800px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px 0px #000000af; 
    box-shadow: 0px 0px 3px 0px #000000b0;
    font-family: 'Noto Sans SC', sans-serif;
    padding: 10px;
}

/* thông tin phần tác giả */

.postdetail-infoAuthor{
    display: flex;
    position: relative;
}
.postdetail-infoAuthor-avatar{
    margin-right: 15px;
}
.postdetail-infoAuthor-avatar img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.postdetail-infoAuthor-nameAuthor{
    display: flex;
    flex-direction: column;
}
.postdetail-infoAuthor-nameAuthor b{
    font-size: 14px;
}
.postdetail-infoAuthor-nameAuthor b:hover{
    cursor: pointer;
    text-decoration: underline;
}
.postdetail-infoAuthor-nameAuthor span{
    font-size: 12px;
    color: gray;
}

.postdetail-infoAuthor-menu{
    position: absolute;
    right: 0px;
}
.postdetail-infoAuthor-menu>i{
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(116, 115, 115);
    cursor: pointer;
}
.postdetail-infoAuthor-menu>i:hover{
    background-color: rgb(230, 230, 230);
}
.postdetail-infoAuthor-menu-content{
    width: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 25px;
    padding: 5px 5px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.postdetail-infoAuthor-menu-content:hover{
    display: flex;
}
.postdetail-infoAuthor-menu i:hover~.postdetail-infoAuthor-menu-content{
    display: flex;
}
.postdetail-infoAuthor-menu-content span{
    width: 100%;
    
    cursor: pointer;
    padding: 10px 10px 10px 15px;
    border-radius: 10px;
    color: rgb(85, 84, 84);
    font-size: 14px;
    transition: all 0.3s ease;
}
.postdetail-infoAuthor-menu-content span i{
    margin-right: 5px;
}
.postdetail-infoAuthor-menu-content span:hover{
    background-color: rgb(204, 204, 219);
}


/* CSS đoạn nội dung */

.postdetail-textContent{
    margin-top: 10px; 
}
.postdetail-textContent-body{
    max-height: 500px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.postdetail-textContent-body::-webkit-scrollbar{
    width: 3px;
}
.postdetail-textContent-body::-webkit-scrollbar-track{
    background-color: aliceblue;
}
.postdetail-textContent-body::-webkit-scrollbar-thumb{
    background-color: rgb(192, 190, 190);
}
.postdetail-textContent-body h2{
    font-size: 18px;
}
.postdetail-textContent-body span{
    font-size: 14px;
    font-weight: 300;
}
.postdetail-textContent-hashtag{
    margin-top: 10px;
}
.postdetail-textContent-hashtag a{
    margin-left: 3px;
    color: rgb(49, 91, 209);
    text-decoration: none;
}
.postdetail-textContent-hashtag a:hover{
    text-decoration: underline;
}



/* CSS hình ảnh đăng lên */
.postdetail-listImage{
    width: 100%;
    height: 500px;
    margin-top: 20px;
}

.postdetail-listImage-slide{
    width: 100%;
    height: 100%;
}
.postdetail-listImage-slide .slick-prev{
    left: 20px;
    z-index: 10;
}
.postdetail-listImage-slide .slick-next{
    right: 20px;
    z-index: 10;
}
.postdetail-listImage-slide .slick-dots{
    bottom: 0px;
}

.postdetail-listImage-slide button::before{
    color: black;
}
.postdetail-listImage-slide-item{
    width: 100%;
    height: 100%;
    
}
.postdetail-listImage-slide-item img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* CSS like-dislike-comment */

.postdetail-like-dislike-comments{
    margin-top: 20px;
    padding: 5px 0px;
    width: 100%;
    border-top: 1px solid rgba(143, 142, 142, 0.747);
    border-bottom: 1px solid rgba(143, 142, 142, 0.747);
    display: flex;
    justify-content: space-around;
}

.postdetail-common{
    cursor: pointer;
    height: 90%;
    border-radius: 8px;
    padding: 5px 50px;
}
.postdetail-common:hover{
    background-color: rgb(212, 209, 209);
}
.postdetail-common i{
    font-size: 18px;
}
.postdetail-common span{
    font-size: 16px;
    margin-right: 5px;
}

/* CSS writeComment */

.postdetail-writeComment{
    margin-top: 20px;
    width: 100%;
    display:  flex;
    align-items: center;
    justify-content: space-between;
}

.postdetail-writeComment-avatar{
    
    height: 40px;
    width: 40px;
}
.postdetail-writeComment-avatar img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.postdetail-writeComment-input{
    width: 85%;
    margin-left: 15px;
    margin-right: 15px;
}
.postdetail-writeComment-input input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: rgb(233, 230, 230);
}
.postdetail-writeComment-emoji{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}
.postdetail-writeComment-emoji:hover{
    background-color: rgb(206, 204, 204);
}
.postdetail-writeComment-emoji i{
    color: rgb(97, 97, 95);
    font-size: 24px;
}
.postdetail-writeComment-picker{
    position: absolute;
    top: -330px;
    left: -230px;
    z-index: 1000;
}
/* CSS list comment */

.postdetail-listComment{
    margin-top: 20px;
    border-top: 1px solid gray;
    width: 100%;
    padding: 20px 10px 0px 10px;
}
.postdetail-listComment::-webkit-scrollbar{
    width: 3px;
}
.postdetail-listComment::-webkit-scrollbar-track{
    background-color: rgb(241, 237, 237);
}
.postdetail-listComment::-webkit-scrollbar-thumb{
    background-color: rgb(197, 196, 196);
}
.postdetail-itemComment{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.postdetail-itemComment-avatar{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
}
.postdetail-itemComment-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.postdetail-itemComment-body{
    max-width: 75%;
}
.postdetail-itemComment-body-top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%; 
    min-width: 180px;
    padding: 5px 15px;
    background-color: rgb(235, 230, 230);
    border-radius: 10px;
}
.postdetail-itemComment-body-top b{
    font-size: 12px;
    cursor: pointer;
}
.postdetail-itemComment-body-top b:hover{
    text-decoration: underline;
}
.postdetail-itemComment-body-top span{
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: rgb(61, 61, 61);
}
.postdetail-itemComment-body-bottom{
    max-width: 100%;
    display: flex;
    position: relative;
}
.postdetail-itemComment-body-bottom p{
    font-size: 12px;
    color: rgb(83, 83, 83);
    padding-right: 20px;
    padding-left: 15px;
}
.postdetail-itemComment-body-bottom p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.postdetail-itemComment-body-bottom span{
    font-size: 12px;
    color: rgb(83, 83, 83);
}
.postdetail-itemComment-body-bottom .countLike{
    cursor: pointer;
    position: absolute;
    right: 0px;
}

.postdetail-itemComment-menu{
    position: relative;
    margin-left: 5px;
    
}
.postdetail-itemComment-menu i{
    padding: 8px 13px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3 ease;
}
.postdetail-itemComment-menu i:hover{
    background-color: rgb(235, 232, 232);
}
.postdetail-itemComment-menu i{
    color: gray;
}
.postdetail-itemComment-menu-content{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 90px;
    top: -20px;
    right: -70px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}
.postdetail-itemComment-menu i:hover~.postdetail-itemComment-menu-content{
    display: flex;
}
.postdetail-itemComment-menu-content:hover{
    display: flex;
}
.postdetail-itemComment-menu-content span{
    font-size: 12px;
    cursor: pointer;
    padding: 5px 0px 5px 8px;
    color: rgb(97, 96, 96);
    transition: all 0.3s ease;
}
.postdetail-itemComment-menu-content span:hover{
    background-color: rgb(237, 239, 241);
}

.postdetail-modal{
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.postdetail-modal-Image{
    height: 80%;
    max-width: 90%;
    position: relative;
}
.postdetail-modal-close{
    position: absolute;
    right: 0px;
    top: -10px;
    padding: 10px;
    cursor: pointer;
}
.postdetail-modal-close i{
    font-size: 30px;
    color: white;
}
.postdetail-modal-Image img{
    height: 100%;
    max-width: 90%;
    object-fit: cover;
    z-index: 10002;
}